.list-products {
  list-style: none;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.list-products__item {
  margin: 10px;
}

@media (min-width: 1024px) {
  .list-products {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 65%;
    margin-left: 80px;
  }
}
